/* this classes command the input elements */
.labButton {
    text-align: center;
    background-color: grey;
    color: whitesmoke;
    padding: 15px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 1em;
    margin: 10px;
    font-size: 1.3em;
}
/* this classes command the images on header */
.imgHeader {
    width: 100%;
    max-width: 900px;
    
}

/* this classes command the tables */
/*table, tr, td {
    border-collapse: collapse;
    border-color: violet;
    border-width: 1px;
    border-style: solid;
}*/

table {
    width: 50%; 
    margin: auto;
    text-align: center;
    background-color: lightgray;
    border-radius: 5%;
}

tr, td {
    height: 4em;
    
}

#sign-inLink {
    vertical-align: top;
}

/* this classes command the input elements */

.formEle {
    min-height: 22px;
    min-width: 175px;
    width: 50%;
    height: 1.6em;
    border-radius: 5px;
    font-size: 1.2em;
}

div {
    margin: auto;
    text-align: center;
}

.labelTag {
    font-size: 1.4em;
}

#imgHead {
    width: 100%;
    border-radius: 5px;
}