html {
    background-color: #bebdbd;
    /*min-width: 200px;*/
}
#imgHead {
    width: 100%;
    border-radius: 5px;
}
.imgContainer1 {
    width: 100%;
    max-width: 900px;
    min-width: 100px;
    margin: auto;
}