#healthContainer {
    padding-top: 2%;
    padding-bottom: 2%;
}

.healthContainer__healthContainer2{
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.damageBlock{
    /* background-color: white; */
    display: inline-block;
    margin: 1.5%;
}
@media only screen and (max-device-width: 500px){
    .damageBlock{
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

.damageBlock__brick1{
    background-color: white;
}

.damageBlock__brick1__name{
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
}

.damageBlock__brick1__value{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
}

.damageBlock__brick2{
    text-align: center;
}

.damageBlock__brick2__button{
    background-color: black;
    color: white;
}

.panelStats{
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0.1%;
    min-width: 320px;
}

.panelStats__block{
    /* background-color: red; */
    display: inline-block;
    width: 75px;
    margin: 1px;
    height: 70px;
}

.panelStats__block__label{
    background-color: white;
    border: 1px solid black;
    font-weight: 500;
    display: inline-block;
    width:  100%;
    text-align: center;
}

.panelStats__block__value{
    background-color: white;
    /* font-size: 3rem; */
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    font-size: 2rem;
    height: 45px;
}
.panelStats__block__value2{
    background-color: white;
    
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    font-size: 1.2rem;
    height: 45px;
    align-items: center;
    
}