.inputContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 280px;
  height: 50px;
  margin: 3px;
  border-radius: 5px;

  background: url('../../assets/inputs/input_2.png') no-repeat center;
  /* background-color: #1e9477; */
  background-size: 100% 100%;

}

.inputContainer__input {
  width: 200px;
  padding: 0 0 5px 0;
  background: transparent;
  color: #ffffff;
  border: 0;

  font-size: 1.2rem;
  font-family: 'goldman', sans-serif;
}

.inputContainer__input:focus {
  outline: none;
}


::placeholder {
  color: #94acbb;
}
