.statsBlock{
    /* background-color: white; */
    display: inline-block;
    margin: 1%;
    
}

.statsBlock__brick1{
    background-color: white;
}

.statsBlock__brick1__name{
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
}

.statsBlock__brick1__value{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
}

.statsBlock__brick2{
    text-align: center;
}

.statsBlock__brick2__button{
    background-color: black;
    color: white;
}

