

.main {
  display: flex;

}

img{
  width: 350px;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 320px;
  max-width: 400px;
}

.main__content__logo {
  width: 90%;
  margin: 20px 1rem 20px 1rem;
}

.main__wallpaper {
  flex: 1;

  height: 100vh;

  background: url('../../assets/wallpapers/cyberpunk_37.jpg') no-repeat center;
  background-size: cover;
}

.main__content__formBlock{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttonPack {
  display: flex;
  flex-direction: row;
}
